/* Material Design Lite */

// Variables and mixins
// But with our own copy of variables and mixins for easy changes
@import "mixins";
@import "variables";

// Resets and dependencies
@import "../node_modules/material-design-lite/src/resets/resets";
@import "../node_modules/material-design-lite/src/typography/typography";

// Components
@import "../node_modules/material-design-lite/src/palette/palette";
@import "../node_modules/material-design-lite/src/ripple/ripple";
@import "../node_modules/material-design-lite/src/animation/animation";
@import "../node_modules/material-design-lite/src/badge/badge";
@import "../node_modules/material-design-lite/src/button/button";
@import "../node_modules/material-design-lite/src/card/card";
@import "../node_modules/material-design-lite/src/checkbox/checkbox";
@import "../node_modules/material-design-lite/src/data-table/data-table";
@import "../node_modules/material-design-lite/src/footer/mega_footer";
@import "../node_modules/material-design-lite/src/footer/mini_footer";
@import "../node_modules/material-design-lite/src/icon-toggle/icon-toggle";
@import "../node_modules/material-design-lite/src/menu/menu";
@import "../node_modules/material-design-lite/src/progress/progress";
@import "../node_modules/material-design-lite/src/layout/layout";
@import "../node_modules/material-design-lite/src/radio/radio";
@import "../node_modules/material-design-lite/src/slider/slider";
@import "../node_modules/material-design-lite/src/spinner/spinner";
@import "../node_modules/material-design-lite/src/switch/switch";
@import "../node_modules/material-design-lite/src/tabs/tabs";
@import "../node_modules/material-design-lite/src/textfield/textfield";
@import "../node_modules/material-design-lite/src/tooltip/tooltip";
@import "../node_modules/material-design-lite/src/shadow/shadow";
@import "../node_modules/material-design-lite/src/grid/grid";

// Add featherlight css
@import "featherlight";

@import "wordpress";
@import "accessibility";
@import "basic";
